rules:
    - Simtel\PHPStanRules\Rule\CommandClassShouldHaveCommandHandlerSeeTag
    - Simtel\PHPStanRules\Rule\EventListenerShouldHaveAsEventListenerAttribute
    - Simtel\PHPStanRules\Rule\ShouldNotPhpDocReturnWhenTypeHintExists
parameters:
    paths:
        - src
    level: max

