rules:
    - Simtel\PHPStanRules\Rule\CommandClassShouldHaveCommandHandlerSeeTag
    - Simtel\PHPStanRules\Rule\EventListenerShouldHaveAsEventListenerAttribute
    - Simtel\PHPStanRules\Rule\ShouldNotPhpDocReturnWhenTypeHintExists
